:host {
  display: block;
}

.form-title, .footer {
  margin-bottom: 20px;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--google-blue-700);
  margin-right: 20px;
}

.company {
  color: var(--google-blue-700);
  font-size: 20px;
  font-weight: 200;
}

gold-cc-expiration-input, .filler {
  width: 50%;
  margin-right: 20px;
}

.footer {
  width: 50%;
  @apply(--paper-input-container-font);
  color:  var(--secondary-text-color);
}

.price {
  color:  var(--primary-text-color);
}

paper-button {
  background-color: var(--google-blue-500);
  color: #fff;
  margin-right: 0px;
  margin-top: 50px;
}
